

:root {
/* Primary */

--Soft-red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);

/* Neutral */
--Dar-brown: hsl(25, 47%, 15%);
--Mediu-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);

}

*,*::after,*::before {
    box-sizing: border-box;
}

h1,h2,p,span {
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

picture,
img {
    max-width: 100%;
    display: block;
}

p {
    line-height: 1.5;
}

/* ---------- Utilities -------- */

.text-white {color:var(--Cream)}
.text-light {color: var(--Mediu-brown);}
.text-dark {color:var(--Dar-brown)}

.bg-primary {background-color: var(--Soft-red);}
.bg-secondary {background-color: var(--Cyan);}
.bg-orange {background-color: var(--Very-pale-orange);}
.bg-cream {background-color: var(--Cream);}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flow > :not(:first-child) {
    margin-top: 1.6rem;
}

/* -------- Layout -------- */ 

header{
    margin-top: 8rem;
}

header,
main {
    width: min(90%,500px);
    margin-inline: auto;
    padding: 1.5rem;
    border-radius: 1rem;
}

.title {
    font-size: 1.2rem;
}

.balance {
    font-size: 2rem;
    font-weight: 700;
}

.expense-chart {
    height: 250px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;
}

.day:is(:hover,:focus-visible) :first-child {
    opacity: .75;
}

/* .day:is(:hover,:focus-visible) :) { */
    /* opacity: 1; */
/* } */

.amount-day {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    background-color: var(--Dar-brown);
    border-radius: .3em;
    padding: .3em;
    opacity: 0;
}

.expense-bar {
    width: 2.8rem;
    background-color: var(--Soft-red);
    border-radius: .2em .2em  0 0;
    scale:1 0;
    transition: scale 1500ms ease;
    transform-origin: bottom;
}

.expense-bar.active {
    scale: 1;
}

.total :nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
}

.last-month :first-child{
    font-weight: 700;
    text-align: right;
}